* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8c808e;  
}

section {
    display: flex; 
    flex-direction: row;
    margin: 100px;
}

#minhafoto {
    height: 200px;
    border-radius: 500px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
}

#menu {
    width: 30%;
    height: 700px;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin-right: 10px;
    text-align: center;
    padding-top: 150px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #a69fbf;
}

#menu2 {
    width: 70%;
    height: 700px;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    text-align: left;
    padding: 50px;
    padding-top: 150px;
    box-shadow: 0 0 10px black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #a69fbf;
}

ul {
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    
}
  
a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-bottom: 20px;
    font-size: 35px;
}

p {
    margin-bottom: 20px;
}

.icones {
    width: 50px;
    object-fit: cover;
}

#linkedin {
    margin-right: 20px;
}
